<div (swipeleft)="onRecipeDiscarded()" *ngIf="rezept !== undefined">
  <div *ngIf="isTouchDevice" class="button-theme transparent_accept right">

  </div>
  <img src="./assets/img/{{rezept.name}}.jpg" alt="Bild {{rezept.name}}">
  <p>{{rezept.name}}</p>
  <div *ngIf="!isTouchDevice" class="button-theme">
    <button mat-flat-button color="primary" (click)="onRecipeApproved()">Beitreten</button>
    <button mat-flat-button color="warn" (click)="onRecipeDiscarded()">Ablehnen</button>
  </div>
  <div *ngIf="isTouchDevice" class="button-theme transparent_deny left">

  </div>
</div>
